
@import "compass/reset";



@import "style_m.scss";


@media screen and (min-width: 600px){
    @import "style_d.scss";
}


//************** NAVBAR *********************





//************** SECTION 0 ******************
/*.section0{
    //background-image: url("../img/M_M_Logo_wallpaper.jpg");
    //background-color: red;
    height:800px;
    width:100%;
    background-size: 100% 800px;
    background-position-y:center;
    background-position-x:center;

}
*/
