
.home_img{
  //height:
  //margin-top:40vw;
	//position:inline-block;
	//margin-top:50vw;
}

.wrapper_center{


}

#section0 .fp-tableCell{
     vertical-align: top;
}
/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		//background: #333;
		z-index:9;
	  //text-align:center;
		//color: #f2f2f2;
		padding: 20px 0 0 0;
	}

	#header{
		top:0px;
	}


nav{
box-shadow: 0 0 0 0;
background-color: rgba(0, 0, 0, 0) !important;
}
.nav_SB{

  a{
      color:black !important;
  }
}


.nav-wrapper{

}

.logo_m{
  margin-left:30px;
  margin-top:10px;
  height: 70px;
  widows: 70px;
}
