/*#section0 .fp-tableCell{
     vertical-align: top;
}*/
/* line 7, ../sass/style_m.scss */
#header, #footer {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  z-index: 9;
  padding: 20px 0 0 0;
  top: 0px;
}

/* line 22, ../sass/style_m.scss */
nav {
  box-shadow: 0 0 0 0;
  background-color: transparent !important;
}

/* line 28, ../sass/style_m.scss */
.nav_SB a {
  color: black !important;
}

/* line 33, ../sass/style_m.scss */
.logo_m {
  margin-left: 0px;
  margin-top: 0px;
  height: 50px;
}

/* line 40, ../sass/style_m.scss */
.brand-logo {
  margin-left: 40px;
  margin-top: 0px !important;
  left: 0% !important;
}

/* line 49, ../sass/style_m.scss */
.home_img {
  margin-top: 50vw;
}

/* line 56, ../sass/style_m.scss */
.wrapper_center {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/* line 67, ../sass/style_m.scss */
.se011, .se012 {
  background-color: black;
  height: 500px;
  margin-top: 20vw;
  max-height: 700px;
  margin-bottom: 0vw !important;
}
